<% if @hairstyle.errors.any? %>
  <ol>
    <% @hairstyle.errors.full_messages.each do |msg| %> 
     <li> 
        <%= msg %> 
    </li>
    <% end %>
  </ol>
<% end %>

<%= render :partial => 'form' %>
