<h1>Register to generate customised predictions, and save multiple hairstyles.</h1>
<div id ="register">
  <div id="register_form">
    <% if @user.errors.any? %>
      <ol>
        <% @user.errors.full_messages.each do |msg| %> 
         <li> 
            <%= msg %> 
        </li>
        <% end %>
      </ol>
    <% end %>

    <%= render :partial => 'form' %>
  </div>
</div>