/*
 *= require_self
 *= require_tree .
 */
body {
  margin: auto;
  max-width: 960px;
}
#results_container {
  max-width: 960px;
  margin: 0 auto;
  display: block;
}
#results_container h1 {
  padding-left: 20px;
}
#home_header {
  margin-left: 30px;
}
.results {
  max-width: 960px;
  min-height: 550px;
  padding: 25px;
  display: block;
  margin: 0 auto;
}
.results#average {
  padding-top: 60px;
}
.results#catestrophic h1 {
  width: 300px;
  text-shadow: 0 0 10px white;
}
.results#terrible{
  color: white;
  text-shadow: 0 0 10px black;
}
.results#horrendous {
  color: white;
  text-shadow: 0 0 10px black;
}
.results#horrendous h1 {
  max-width: 400px;
}
.results#no_hair h1 {
  max-width: 300px;
}
.results#no_hair {
  padding-left: 70px;
  padding-top: 80px;
}
.results#amazing {
  color: white;
  text-shadow: 0 0 10px black;
}
.results#good {
  padding: 40px;
  color: white;
  text-shadow: 0 0 10px black;
}
.results#perfect {
  color: white;
  text-shadow: 0 0 10px black;
}
.results#below_average {
  color: white;
  text-shadow: 0 0 10px black;
  padding: 60px;
  min-height: 600px;
}
.results#bad, .results#crap {
  max-width: 960px;
}
html {
  font-family: 'Droid Sans', sans-serif;
}
body {
  padding: 0 15px 15px 15px;
}
h1, h2, nav a {
  font-family: 'Lobster', cursive;
}
#contact_nav {
  float: right;
}
nav {
  background-color: #D0006E;
  padding: 10px 30px 10px 20px;
  border: 6px solid black;
}
nav a:hover {
  color: #FFB540;
  text-shadow: 0 0 10px white;
}
nav a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px black;
  margin-right: 15px;
  font-size: 18px;
}
footer {
  font-family: 'Lobster', cursive;
  position: relative;
  bottom: 0;
  right: 50px;
  width:100%;
}
footer p {
  padding-left: 55px;
}
footer a {
  color: #387AA8;
 
}
#advertise {
  float: right;
}