/*
 *= require_self
 *= require_tree .
 */
#results_container {
  max-width: 960px;
  margin: 0 auto;
  display: block;
}

.results {
  max-width: 960px;
  min-height: 620px;
  padding: 25px;
  display: block;
  margin: 0 auto;
}
.results#good {
  padding: 60px;
}
.results#perfect {
  color: white;
  text-shadow: 0 0 10px black;
}
.results#below_average {
  color: white;
  text-shadow: 0 0 10px black;
  padding: 60px;
  min-height: 600px;
}
.results#bad, .results#crap {
  max-width: 900px;
}
html {
  font-family: 'Droid Sans', sans-serif;
}
body {
  padding: 0 15px 15px 15px;
}
h1, h2, nav a {
  font-family: 'Lobster', cursive;
}
#contact_nav {
  float: right;
}
nav {
  background-color: #D0006E;
  padding: 10px 30px 10px 30px;
  border: 3px solid black;
}
nav a:hover {
  color: #FFB540;
  text-shadow: 0 0 10px white;
}
nav a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px black;
  margin-right: 15px;
}
footer {
  font-family: 'Lobster', cursive;
  position:absolute;
  bottom:15px;
  width:100%;
  background: solid white;
}