// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 #register{
  background: url(/assets/register.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px;
  min-height: 960px;
  border-right: 10px solid black;
  border-left: 10px solid black;
}
#register_form {
  position: absolute;
  top: 210px;
  left: 90px;
  width: 300px;
  height: 480px;
  border: 5px solid black;
  text-align: left;
  background-color: white;
  padding-top:60px;
  padding-left: 15px;
  border-radius: 90px;

}
#register_email {
  font-size: 10px;
}

.user_form input {
  display: block;
}
#user_sidenav {
  position: absolute;
  top: 200px;
  right: 120px;
  width: 250px;
  height: 150px;
  border: 5px solid black;
  text-align: center;
  background-color: white;
  padding-top:40px;
  border-radius: 120px;
}
#user_sidenav ul {
  list-style-type: none;
  padding: 0;
}
#user_sidenav a {
  text-decoration: none;
  color: #D0006E;
  font-family: 'Lobster', cursive;
  font-size: 24px;
}
#user_sidenav a:hover {
  color: #387AA8;
  font-family: 'Lobster', cursive;
  font-size: 24px;
}
#user_sidenav li {
  margin: 10px;
}
#user_container {
  background: url(/assets/user.jpg) no-repeat;
  background-size: contain;
  min-height: 960px;
}
#user_hairstyles {
  padding: 20px 0 0 30px;
}

